.Trade tr{
  border-bottom: 1px solid #000;
}

.Trade td, .App th{
  width: 100px;
}
.whale{
  background-color: rgba(26, 101, 158, 0.9);
}
.overAsk{
  background-color: rgba(4, 98, 40, 0.9);
}
.atAsk{
  background-color: rgba(9, 232, 94, 0.9);
}
.mark{
  background-color: rgba(238, 238, 238, 0.9);
  color: #000;
}
.atBid{
  background-color: rgba(255, 27, 28, 0.9);
}
.underBid{
  background-color: rgba(143, 0, 0, 0.9);
}
