.Sidebar{
  background-color: #121212;
  width: 10%;
  height: 100% !important;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 5px;
  box-sizing: border-box;
  border-right: 2px solid #F3CB56;
}
.SidebarTickerItem{
  background: #ccc;
  box-sizing: border-box;
}
