@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300&display=swap');

Body{
  background: #121620;
  color: #fff;
  font-family: 'Source Sans Pro', sans-serif;
}
.App{
  width: 100%;
}
.App table{
  width: 100%;
  overflow-y: scroll;
  background: #fff;
  margin: 20px;
  box-sizing: border-box;
}

.TickerInfo{
  width: 100%;
  background: #ccc;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
}

.Ticker{

}

.Sentiment{
  min-width: 300px;
}
