body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.super-app-theme--whale{
  background-color: rgba(26, 101, 158, 0.9);
}
.super-app-theme--overAsk{
  background-color: rgba(4, 98, 40, 0.9);
}
.super-app-theme--atAsk{
  background-color: rgba(9, 232, 94, 0.9);
}
.super-app-theme--mark{
  background-color: rgba(238, 238, 238, 0.9);
  color: #000;
}
.super-app-theme--atBid{
  background-color: rgba(255, 27, 28, 0.9);
}
.super-app-theme--underBid{
  background-color: rgba(143, 0, 0, 0.9);
}
