.SelectedTickerInfo{
  width: 100%;
  padding: 0px 20px;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  box-sizing: border-box;
  background: #F3CB56;
}
